In [3]:
import requests

url = "http://data.ex.co.kr/openapi/trtm/realUnitTrtm?key=1308370912&type=json&iStartUnitCode=101&iEndUnitCode=103"
req = requests.get(url)
print(req)

<Response [200]>

In [4]:
json_df = req.json()
json_df

{'count': 520,
 'pageNo': 1,
 'numOfRows': 10,
 'pageSize': 52,
 'realUnitTrtmVO': [{'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '7.8',
   'timeMax': '14.300',
   'timeMin': '5.866',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00  ',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '203',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '8.25',
   'timeMax': '14.300',
   'timeMin': '5.866',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:00',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '62',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '8.316666666666666',
   'timeMax': '11.266',
   'timeMin': '5.916',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:05',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '16',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '8.166666666666666',
   'timeMax': '9.433',
   'timeMin': '5.866',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:10',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '18',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '9.5',
   'timeMax': '12.700',
   'timeMin': '9.483',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '05:45',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '172',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '10.066666666666666',
   'timeMax': '12.700',
   'timeMin': '10.033',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '05:50',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '35',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '10.3',
   'timeMax': '12.583',
   'timeMin': '9.883',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '05:55',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '47',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '9.5',
   'timeMax': '16.183',
   'timeMin': '10.550',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '06  ',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '554',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '9.958333333333334',
   'timeMax': '13.416',
   'timeMin': '10.550',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '06:00',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '170',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '10.75',
   'timeMax': '13.416',
   'timeMin': '10.950',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '06:05',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '42',
   'iStartEndStdTypeCode': None}],
 'message': '인증키가 유효합니다.',
 'code': 'SUCCESS'}

## 미션
- JSON 데이터를 pandas 파일로 변환

In [8]:
import pandas as pd


cars = json_df['realUnitTrtmVO']
pd.DataFrame(cars)

,pageNo,numOfRows,startUnitCode,endUnitCode,stdDate,sumTmUnitTypeCode,startEndStdTypeCode,timeAvg,timeMax,timeMin,...,stdTime,startUnitNm,endUnitNm,startEndStdTypeNm,tcsCarTypeName,tcsCarTypeCode,tcsCarTypeDivName,tcsCarTypeDivCode,efcvTrfl,iStartEndStdTypeCode
0,None,None,101,103,20230807,None,2,7.8,14.300,5.866,...,00,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,203,None
1,None,None,101,103,20230807,None,2,8.25,14.300,5.866,...,00:00,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,62,None
2,None,None,101,103,20230807,None,2,8.316666666666666,11.266,5.916,...,00:05,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,16,None
3,None,None,101,103,20230807,None,2,8.166666666666666,9.433,5.866,...,00:10,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,18,None
4,None,None,101,103,20230807,None,2,9.5,12.700,9.483,...,05:45,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,172,None
5,None,None,101,103,20230807,None,2,10.066666666666666,12.700,10.033,...,05:50,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,35,None
6,None,None,101,103,20230807,None,2,10.3,12.583,9.883,...,05:55,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,47,None
7,None,None,101,103,20230807,None,2,9.5,16.183,10.550,...,06,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,554,None
8,None,None,101,103,20230807,None,2,9.958333333333334,13.416,10.550,...,06:00,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,170,None
9,None,None,101,103,20230807,None,2,10.75,13.416,10.950,...,06:05,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,42,None

In [10]:
records = []
for car in cars:
    row_dict = {}
    row_dict["date"] = car["stdDate"]
    row_dict["timeAvg"] = car["timeAvg"]
    records.append(row_dict)

pd.DataFrame(records)

       date             timeAvg
0  20230807                 7.8
1  20230807                8.25
2  20230807   8.316666666666666
3  20230807   8.166666666666666
4  20230807                 9.5
5  20230807  10.066666666666666
6  20230807                10.3
7  20230807                 9.5
8  20230807   9.958333333333334
9  20230807               10.75

## XML 테스트

In [12]:
import requests


url = "http://data.ex.co.kr/openapi/trtm/realUnitTrtm?key=1308370912&type=xml&iStartUnitCode=101&iEndUnitCode=103&numOfRows=10&pageNo=1"
req = requests.get(url)
print(req.text)

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><data><code>SUCCESS</code><message>인증키가 유효합니다.</message><count>520</count><numOfRows>10</numOfRows><pageNo>1</pageNo><pageSize>52</pageSize><realUnitTrtmVO><efcvTrfl>16</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>00:05</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>8.316666666666666</timeAvg><timeMax>11.266</timeMax><timeMin>5.916</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>203</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>00  </stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>7.8</timeAvg><timeMax>14.300</timeMax><timeMin>5.866</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>62</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>00:00</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>8.25</timeAvg><timeMax>14.300</timeMax><timeMin>5.866</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>18</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>00:10</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>8.166666666666666</timeAvg><timeMax>9.433</timeMax><timeMin>5.866</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>172</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>05:45</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>9.5</timeAvg><timeMax>12.700</timeMax><timeMin>9.483</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>35</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>05:50</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>10.066666666666666</timeAvg><timeMax>12.700</timeMax><timeMin>10.033</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>47</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>05:55</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>10.3</timeAvg><timeMax>12.583</timeMax><timeMin>9.883</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>554</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>06  </stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>9.5</timeAvg><timeMax>16.183</timeMax><timeMin>10.550</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>170</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>06:00</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>9.958333333333334</timeAvg><timeMax>13.416</timeMax><timeMin>10.550</timeMin></realUnitTrtmVO><realUnitTrtmVO><efcvTrfl>42</efcvTrfl><endUnitCode>103 </endUnitCode><endUnitNm>수원신갈</endUnitNm><startEndStdTypeCode>2</startEndStdTypeCode><startEndStdTypeNm>도착기준통행시간</startEndStdTypeNm><startUnitCode>101 </startUnitCode><startUnitNm>서울</startUnitNm><stdDate>20230807</stdDate><stdTime>06:05</stdTime><tcsCarTypeCode>1</tcsCarTypeCode><tcsCarTypeDivCode>1</tcsCarTypeDivCode><tcsCarTypeDivName>소형차</tcsCarTypeDivName><tcsCarTypeName>1종</tcsCarTypeName><timeAvg>10.75</timeAvg><timeMax>13.416</timeMax><timeMin>10.950</timeMin></realUnitTrtmVO></data>

In [18]:
import requests
import lxml
from bs4 import BeautifulSoup

url = "http://data.ex.co.kr/openapi/trtm/realUnitTrtm?key=1308370912&type=xml&iStartUnitCode=101&iEndUnitCode=103&numOfRows=10&pageNo=1"
req = requests.get(url)
# print(req.text)
soup = BeautifulSoup(req.text, "lxml")    # XML 반환이라서 lxml을 사한 것
#print(soup.prettify())

## 미션 XML 결괏값으로 데이터프레임으로 변환 (11시 10분까지)
stddate_list = soup.find_all("stddate")
timeAvg_list = soup.find_all("timeavg")

stddate = []
avgTime = []
for date, timeAvg in zip(stddate_list, timeAvg_list):
    #print(date.get_text(), timeAvg.get_text())
    stddate.append(date.get_text())
    avgTime.append(timeAvg.get_text())

df = pd.DataFrame({"date":stddate, "avgTime" : avgTime})
df

    
# timeAvg_list

       date            avgTime
0  20230807               7.95
1  20230807  7.908333333333333
2  20230807  7.816666666666666
3  20230807                7.8
4  20230807  7.741666666666666
5  20230807  7.633333333333334
6  20230807  7.683333333333334
7  20230807               7.75
8  20230807               7.75
9  20230807  7.666666666666667

## 부동산 실거래가 인증키 있음
- 서울 열린데이터 광장에 부동산 데이터 수집
- 공공데이터 포털 부동산 데이터 수집
- 13시 20분 까지 진행

In [20]:
import requests

url = "http://openapi.seoul.go.kr:8088/6a694e435965686437356f555a4d49/xml/tbLnOpendataRtmsV/1/5/"
req = requests.get(url)
print(req)

<Response [200]>